<%= render partial: "/layouts/navbar_coperatesite" %>


<style type="text/css">
            *:focus{
              outline: none;
            }
            body{
               font-family: 'Libre Franklin';
              overflow-x: hidden;
              margin: 0;
              padding: 0;
              box-sizing: border-box;
            }
            
          p {
            font-size: 100%;
            line-height: 2;
            letter-spacing: 1.2px;
            color: #9DA0A4 !important;
        }
        .ppolicy ul li{
          list-style-type: decimal;
    color: #9DA0A4 !important;
        }
        .ppolicy ul li p{
          margin-bottom: 0;
        }
              </style>



      <div class="container">
                 <div>
                  <div class="text-center mt-5">
                   <h3 class="text-uppercase pt-5">Privacy Policy</h3>
                   <p class="pb-5 text-center" style="color: #9e9e9e">Privacy Policy</p>
                  </div>
                   <div class="row">
                     <div class="col-md-10 mx-auto ppolicy">
                       <div class="text-left">
                         <h5 class=" mb-3">Privacy Policy</h5>
                         
                         <p class="my-4">The Company will handle your information as follows in all services that we provide (“Services”). To use Services, you must carefully read the Privacy Policy and consent to all particulars herein. If you do not consent to the Privacy Policy you must cease use of the Services Information that the Company Obtains information, there may be cases where the functions of some Services cannot be provided to you.</p>

                         
                         <p class="mb-4">The rights in material on the web site are protected by international copyright, software and trademark laws and your suits use the web site during how which doesn't infringe these rights. You'll copy material on the web site for your own private or domestic purposes, but no copying for any commercial or business use is permitted.
                         </p>
                        
                         <p>When you create and utilize an account for Services, the Company will obtain profile information including your name, age, sex, address, telephone number, profile picture, employer, job title, work history, educational history, qualifications, and email address.</p>


                         


                         <p class="mb-4">We aren't responsible against all costs, expenses, claims, losses, liabilities or proceedings arising from use or misuse by you of the online site .The use of the online site and any agreements entered into through the online site are to be governed by and construed in accordance with Pakistani law. The courts of Pakistan are to possess exclusive jurisdiction to settle any dispute arising out of or in regard to the use of the online site or any agreement made through the online site .</p>
                         


                         

                         

                         
                         <p class="mb-4">We are committed to creating sure that there is no modern slavery or human trafficking in our supply chains or in any a neighborhood of our business.</p>
                         
                         
                         
                         <p class="mb-4">These privacy policies could even be changed by us at any time. you will be deemed to easily accept the policies (as amended) once you next use the online site following any amendment. If any provision of these terms and conditions is held to be invalid by a court of competent jurisdiction, such invalidity shall not affect the validity of the remaining provisions, which shall remain fully force and effect.</p>

                         <p style="float: right">idenbrid, Inc.</p>


                       </div>
                     </div>
                     
                   </div>
                 </div>
              </div>         

<%= render partial: "/layouts/footer" %>