<%= render partial: "/layouts/navbar_coperatesite" %>



<style type="text/css">
  *:focus{
      outline: none;
        }
    body{
        font-family: 'Libre Franklin';
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        }
            
       p {
         font-size: 100%;
         line-height: 2;
         letter-spacing: 1.2px;
         color: #9DA0A4 !important;
        }
</style>

<div class="container">
   <div>
     <div class="text-center mt-5">
        <h3 class="text-uppercase pt-5">TERMS AND CONDITIONS</h3>
        <p class="pb-5 text-center" style="color: #9e9e9e">TERMS AND CONDITIONS</p>
     </div>
     <div class="row">
                     <div class="col-md-10 mx-auto">
                       <div class="text-left">
                         <h5 class=" mb-3">TERMS AND CONDITIONS</h5>
                         <p class="my-4">Terms and Conditions refers to idenbrid company, you're required to accept these terms and conditions accordance to legally binding prospective between idenbrid and users for betterment of working environment.</p>
                         <p>“we” means idenbrid Company, running in-house projects namely Zindawork, and bizblanca and high-end users  web  and software products for mutual collaboration and mission of idenbrid. “you” means the person, firm, company or organization browsing and/or using the web and software products, and “your” shall be construed accordingly with specific requirements.
                         </p>

                         
                         <p class="mb-4">It is clearly stated that any Third Party recruitment agencies have agreed to our Terms and Conditions and can be found to be in breach of the Terms and Conditions, they go to be prevented from using our services and take legal actions as defined according to law in jurisdiction framework internationally.</p>
                         <p>We attempt to make sure that the quality of the web and software remains high and to take care of the continuity of it, the web isn't an inherently stable medium, and errors, omissions, interruptions of service and delays may occur at any time. We don't accept any liability arising from any such errors, omissions, interruptions or delays or any ongoing obligation or responsibility to work the web site (or any particular a part of it) or to supply the service offered on the web site . We may vary the specification of this site from time to time all of sudden.</p>


                         
                         
                         <p>We are increasing medium-term focus is to possess the number of domestic and foreign users. To search for other users with whom you're acquainted or could also be acquainted, and to recommend connections for you. We are ensuring Service Security Maintenance  to stop unauthorized access, spam, and other unauthorized uses Ad Delivery and Marketing .To provide advertising (including personalized ads) associated with products and services of the corporate or third parties .
                         </p>
                         <p>We will use information supplied by you to help the company database and associated administrative functions through this website. we'll process any data which you provide in completing the online  personal details which you complete or provide to us when using the online site in accordance with relevant data protection legislation. </p>
                         <p>To corporate will provide third parties with the non-personally identifiable information of consumers (terminal identifiers, ad IDs, cookie information, access logs, etc.) or statistical information prepared on the idea thereof.

                         </p>
                         <p>The rights in material on the online site are protected by international copyright, software and trademark laws and your suits use the website during shows which do not infringe these rights. you'll copy material on the online site for your own private or domestic purposes, but no copying for any commercial or business use is permitted.</p>

                         
                         <p class="mb-4">Whilst we make every effort to make sure that the knowledge on our Website is accurate and complete, a number of the knowledge is supplied to us by third parties and that we aren't ready to check the accuracy or completeness of that information. We don't accept any liability arising from any inaccuracy or omission in any of the knowledge on our Website or any liability in respect of data on the web site supplied by you, the other website user or the other person.</p>
                         

                         <p class="mb-4"> You're also liable for ensuring that each one information, data and files are freed from viruses or other routines or engines which will damage or interfere with any system or data before being submitted to the web site . We reserve the proper to get rid of any information supplied by you from the web site at our sole discretion, at any time and for any reason without being required to offer any explanation.
                         </p>
                         <p class="mb-4">We will use information supplied by you to assist the corporate database and associated administrative functions through this website. we'll process any data which you provide in completing the web registration or application forms and any longer forms, assessments or personal details which you complete or provide to us when using the web site in accordance with relevant data protection legislation
                        </p>
                        <p class="mb-4">The rights in material on the web and software  are protected by international copyright, software and trademark laws and you comply with use the web site during a way which doesn't infringe these rights. you'll copy material on the website for your own private or domestic purposes, but no copying for any commercial or business use is permitted.

                        </p>
                         <p class="mb-4">Whom order to register with the web and software products and to check in once you visit the web site , you'll got to use a username and password. you're solely liable for the safety and proper use of your password, which should be kept confidential in the least times and not disclosed to the other person. you want to notify us immediately if you think that your password is understood to somebody else or if it's going to be utilized in an unauthorized way. We accept no liability for any unauthorized or improper use or disclosure of any password.

                         We may terminate your registration and/or deny you access to the website or any a part of it (including any services, goods or information available on or through the Website) at any time in our absolute discretion and with none explanation or notification.

                        </p>
                        <p class="mb-4">
                        	We accept no liability for any loss (whether direct or indirect, for loss of business, revenue or profits, wasted expenditure, corruption or destruction of knowledge or for the other indirect or consequential loss whatsoever) arising from your use of the web site and that we hereby exclude any such liability, whether in contract, tort (including for negligence) or otherwise. We hereby exclude all representations, warranties and conditions concerning the web site and your use of it to the utmost extent permitted by law.
                        </p>
                       
                        <p class="mb-4">
                        	These terms and conditions could also be changed by us at any time. you'll be deemed to simply accept the terms and conditions (as amended) once you next use the web site following any amendment. If any provision of those terms and conditions is held to be invalid by a court of competent jurisdiction, such invalidity shall not affect the validity of the remaining provisions, which shall remain fully force and effect.
                        </p>



                         <p style="float: right">idenbrid, Inc.</p>


                       </div>
                     </div>
                     
                   </div>
                 </div>
          </div>






<%= render partial: "/layouts/footer" %>